<!DOCTYPE html>
<html lang="es-eu">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Home</title>
<head>
<body>

<form method="POST" action="">
  {% csrf_token %}
  <strong>¿estás seguro de querer borrar este artículo?</strong>
    <input class="btn btn-secondary" type="submit" value="Yes" />
    <a href="{% url 'listaArticulos' %}"><div class="btn btn-secondary">Cancelar</div></a>

  </form>
  <script src="{% static '/js/bootstrap.min.js' %}"></script> 
</body>
</html>
